@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'gil';
  box-sizing: border-box;
}

.testPara{
  font-family: "Source Code Pro";
  font-weight: bold;
  font-display: fallback
}

.blink{
  animation: blinkAnime 1s 0.2s linear infinite;
}

@keyframes blinkAnime {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}